@import "global_brand";

.contact-icons {
  display: block;
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  width: fit-content;

  background-color: $background;
  backdrop-filter: brightness(90%) blur(20px);
  border-radius: $radius-small;
  box-shadow: $brand-drop-shadow;

  a {
    width: 2rem;
    margin: 0.5rem;

    img {
      display: block;
      width: 100%;
      box-shadow: none;
    }
  }
}
