@import "global_brand";
.drag-info {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  width: 15rem;
  height: 20rem;
  transition: 0.25s;
  pointer-events: none;

  img {
    position: absolute;
    width: 2.5rem;
    height: auto;
    top: 25%;
    box-shadow: none;
  }
  p {
    position: absolute;
    top: 35%;
    font-size: 2rem;
  }
}
