@import "global_brand";

@font-face {
  font-family: GeistMono;
  src: url(/GeistMono-1.3.0/variable-woff/GeistMonoVF.woff) format("woff");
}
@font-face {
  font-family: Geist;
  src: url(/Geist-1.3.0/Geist-1.3.0/statics-woff/Geist-Regular.woff)
    format("woff");
}

//general

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: GeistMono, "Inter", sans-serif;
  font-weight: 400;
  color: $font-primary;
}

h1 {
  font-size: $mobile-heading-one;
}
h2 {
  font-size: $mobile-heading-two;
}
h3 {
  font-size: $mobile-heading-three;
}
@media (min-width: 48em) {
  h1 {
    font-size: $heading-one;
  }
  h2 {
    font-size: $heading-two;
  }
  h3 {
    font-size: $heading-three;
  }
}

p {
  font-family: Geist, "Inter", sans-serif;
  font-size: $paragraph;
  margin: 0.5rem 0rem;
}

a {
  font-family: Geist, "Inter", sans-serif;
  font-size: $paragraph;
  text-decoration: none;
  color: $font-primary;
}

.preview-comment {
  font-family: GeistMono, "Inter", sans-serif;
  font-size: $comment;
  color: $danger;
}

//header
header {
  ul {
    a {
      //move this to typography?
      color: $font-light;
      font-family: GeistMono, "Inter", sans-serif;
      font-size: $mobile-heading-three;
      font-weight: $thin;
    }
    @media (min-width: $min-desktop) {
      a {
        font-size: $heading-three;
      }
    }
  }
}
