//colors
$color-alert: rgba(233, 57, 57, 0.788);
$color-warning: rgba(233, 233, 57, 0.817);

//text

//main variables
$background: #ddf6f9d4;
$brand-text: #000;

$radius-small: 0.5rem;
$radius-medium: 1rem;
$radius-large: 2rem;
