//raw colors
$background: #ddf6f9d4;
$backgroundOpaque: #ddf6f9;
$charcoal: #0b1210;
$dark-one: #2c4941;
$dark-two: #4a6969;
$light-one: #acdac5;
$highlight: #cd6933;
$danger: rgba(233, 57, 57, 0.788);
$warning: rgba(233, 233, 57, 0.817);
//DO NOT DIRECTLY ASSIGN THESE TO ANYTHING, FIRST ASSIGN TO A BRAND VARIABLE. e.g. $font-primary

//text
$font-primary: black;
$font-light: $backgroundOpaque;
$background-dark: $charcoal;

//structure
$radius-small: 0.5rem;
$radius-medium: 1rem;
$radius-large: 2rem;

//fonts
$heading-one: 3rem;
$heading-two: 2rem;
$heading-three: 1.5rem;
$heading-four: 2rem;
$heading-five: 2rem;
$heading-six: 2rem;
$paragraph: 1rem;
$comment: 0.75rem;

//font weights
$heavy: 600;
$medium: 400;
$thin: 200;
