@import "global_brand";

header {
  backdrop-filter: blur(20px);
  background-image: linear-gradient($header-shadow, rgba(255, 255, 255, 0));
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;

  //animations
  transition: 0.5s;

  ul {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;

    a {
      text-shadow: $brand-drop-shadow;
    }
  }
  @media (min-width: $min-desktop) {
    //opacity: 50%;

    ul {
      margin: 1rem 4rem;
    }
  }
  img {
    width: 1.5rem;
    border-radius: 50%;
    @media (min-width: $min-desktop) {
      width: 1.75rem;
    }
  }
}
header:hover {
  opacity: 100%;
}
