@import "global_brand";

header {
  backdrop-filter: blur(20px);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;

  //animations
  transition: 0.5s;

  ul {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $min-desktop) {
    opacity: 50%;

    ul {
      margin: 1rem 4rem;
    }
  }
}
header:hover {
  opacity: 100%;
}
