@import "global_brand";

.loading {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100vh;
  z-index: 9999;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  pointer-events: none;

  div {
    background-color: $background-dark;
  }
}
