@import "global_brand";

.loading {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  transition: 200;

  div {
    background-image: url("/blurred-background.webp");
    background-position: center;
    background-size: cover;
  }
}
