@import "global_brand";

//move this somewhere else maybe?
.invisible {
  display: none;
}
//this isn't strictly necessary, but it helps code readability
.visible {
  display: block;
}

.popup-mask {
  //positioning
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1rem;
  z-index: 99;
  position: fixed;
}

.popup {
  //positioning
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  //styling
  border-radius: $radius-medium;
  background-color: $background;
  backdrop-filter: brightness(90%) blur(20px);

  //could make button its own component?
  .close-button {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    aspect-ratio: 1;
    background-color: $background-dark;
    border-radius: 50%;
    border: unset;
    color: $background;
  }
}
