@import "global_brand";

.works-page {
  .works-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    gap: 1rem;
    @media (min-width: 37.5em) {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .work-thumbnail {
      a {
        display: block;
        background-color: $background;
        border-radius: $radius-small;
        box-shadow: $brand-drop-shadow;
        h2 {
          font-size: $mobile-heading-three;
          text-align: center;
          padding: 0.25rem;
          @media (min-width: 48em) {
            font-size: $heading-three;
          }
        }
        img {
          display: block;
          width: 100%;
          border-radius: $radius-small $radius-small 0 0;
          box-shadow: unset;
          aspect-ratio: 16/9;
        }
      }
      a:hover {
        box-shadow: $brand-drop-shadow-highlight;
      }
    }
  }
}
