@import "global_brand";

.works-page {
  .works-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;

    .work-thumbnail {
      img {
        display: block;
        border-radius: $radius-small;
      }
    }
  }
}
